@media screen and (max-width: 655px) {
    nav ul li a{display: none;}
    nav a.icon {
      float: right;
      display: block;
    }
    .topnav.responsive {position: sticky;}
    .topnav.responsive .icon {
      position: absolute;
      right: 10px;
      top: 0px;
    }
    nav.responsive ul li{
      display: block;
    }
    nav.responsive ul li a{
        display: block;
        
      }
    nav.responsive ul li ul{
        width:100%;
        
      } 
    nav.responsive a i.iconn
    {
        float: right;
      display: block;

    }
    .btnn:hover #btn-content 
{
    display: none;
}
.btn-com
{
  width: 95%;
}
.com
{
  width: 100%;
}
.comments input[type=text]
{
  width: 100%;
}
  }
@media screen and (max-width: 768px)
{
    .logo{border-bottom: none;}
    .logoo{border-top: none;}
}
@media (max-width: 1320px){

  .img-slider .slide .info{
    padding: 10px 25px;
  }

  .img-slider .slide .info h2{
    font-size: 35px;
  }

  .img-slider .slide .info p{
    width: 70%;
    font-size: 15px;
  }

  .img-slider .navigation{
    bottom: 25px;
  }

  .img-slider .navigation .btn{
    width: 10px;
    height: 10px;
    margin: 8px;
  }
}

@media (max-width: 620px){
  .img-slider{
    width: 370px;
    height: 250px;
  }
  .img-slider .slide img{
    height: 250px;
  }

  .img-slider .slide .info{
    padding: 10px 20px;
  }

  .img-slider .slide .info h2{
    font-size: 30px;
  }

  .img-slider .slide .info p{
    width: 80%;
    font-size: 13px;
  }

  .img-slider .navigation{
    bottom: 15px;
  }

  .img-slider .navigation .btn{
    width: 8px;
    height: 8px;
    margin: 6px;
  }
}

@media (max-width: 420px){
  .img-slider{
    width: 300px;
    height: 200px;
  }
  .img-slider .slide img{
    height: 200px;
  }
  .img-slider .slide .info{
    padding: 5px 10px;
  }

  .img-slider .slide .info h2{
    font-size: 25px;
  }

  .img-slider .slide .info p{
    width: 90%;
    font-size: 11px;
  }

  .img-slider .navigation{
    bottom: 10px;
  }
}
@media (max-width:992px)
{
  .ramka img
  {
    height: auto;
  }
}
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
  .img-slider{
    width: 100%;
    height: 100px;
  }
  .img-slider .slide img{
    height: 200px;
  }
  .img-slider .slide .info{
    padding: 5px 10px;
  }

  .img-slider .slide .info h2{
    font-size: 50px;
  }

  .img-slider .slide .info p{
    width: 90%;
    font-size: 11px;
  }

  .img-slider .navigation{
    bottom: 10px;
  }

  .herb{
    width: auto;
  }
}
@media (max-width:500px)
{
  main
{
    width: 100%;
    background-color: rgb(98, 98, 98);
}
}
/* @media (max-width:1300px)
{
  main
  {
    background-color: rgb(98, 98, 98);
    max-width: 800px;
    min-height: 800px;
  }
}  */